<div id="question-search" class="row" >
<div class="col-md-4">


<%= form_tag questions_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search questions", name: nil %>
  </p>
<% end %>
<br>

<div class="col-md-8">
  <% @questions.each do |question| %>

      <p><a href="/questions/<%= question.id %>" target="_blank", name = "question/<%= question.id %>" %><%= question.a_question %></a>

         <%= link_to "Edit", edit_question_path(question), :class => "btn btn-warning btn-xs" %>

         <% if current_user %>
           <%= link_to "Answer", new_question_answer_path(question), id: "ques_index_answer",  :class => "btn btn-primary btn-xs" %>
         <% end %>

         Asked at: <%= question.created_at.strftime("%b %e, %l:%M %p")%>
         <% end %>
      </p>
</div>

</div>

<div id="answer-search" class="row" >
<div class="col-md-4">


<%= form_tag questions_path, method: :get do %>
  <p>
    <%= text_field_tag :answer_query, params[:answer_query] %>
    <%= submit_tag "Search answers", name: nil %>
  </p>
<% end %>
<br>

<div class= "answer-list col-md-8">
  <% @answers.where("answerable_type = ?", "Question").each do |answer| %>

      <p><a href="/answers/<%= answer.id %>" target="_blank", name = "answer/<%= answer.id %>" %><%= answer.an_answer %></a>
        <p><% question_id = answer.answerable_id %>question:
            <%= Question.find(question_id).a_question %></p>


         <% if current_user %>
           <%= link_to "Answer", new_answer_answer_path(answer), id: "ques_index_answer",  :class => "btn btn-primary btn-xs" %>
         <% end %>

         Asked at: <%= answer.created_at.strftime("%b %e, %l:%M %p")%>
         <% end %>
      </p>
</div>

</div>
