<h1>Listing users</h1>

<table>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <tr><td><%= user.name %></td></tr>
        <td><%= link_to ' Show / ', session_user_path(session, user) %></td>
        <td><%= link_to " Edit / ", edit_session_user_path(session, user) %></td>
        <td><%= link_to " Destroy ", user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
