<!DOCTYPE html>
<html>
<head>
  <title>Stack</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <nav class="navbar navbar-inverse fixed navbar-custom" role="navigation">
    <div class="container">
      <ul class="nav navbar-nav title">
        <% if current_user %>
          <li><%= link_to "Log out", logout_path %></li>
          <li><a>Logged in as <%= current_user.name %></a></li>
          <li><%= link_to "New Question", new_user_question_path(current_user), id: 'new_link', remote: true %></li>
          <li><%= link_to "All Questions", questions_path %></li>
        <% else %>
          <li><%= link_to "Sign Up", signup_path %></li>
          <li><%= link_to "Log In", login_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
<body>
  <div class="container">
    <div class="alert">
      <%= flash[:notice] %>
    </div>
    <%= yield %><br/>
    <%= debug(params) %>
  </div>
</body>
</html>
